extends ../layouts/main-layout

block style
    link(rel="stylesheet" href="/css/forms.css")
    link(rel="stylesheet" href="/css/auth.css")

block content
    main
        if errorMessage
            div.message.error-message
                p #{errorMessage}
        form.login-form(action="/reset" method="POST")
            div.form-control
                label(for="email") E-Mail
                input(type="email" name="email" id="email")
            button.btn(type="submit") Reset Password
            input(type='hidden', name='_csrf', value=_csrf)